* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
h3 {
  font-size: 20px;
  color: #000000;
}
p {
  font-size: 16px;
  color: #000000;
}
.content-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}
.content-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}
.content-text {
  font-size: 16px;
  padding: 30px 0;
  color: #000000;
  text-align: center;
}

/* ヘッダー */
header {
  background-color: #ec715f;
}
.header-group {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.title-logo {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.nav {
  display: flex;
}
.nav-list {
  width: 120px;
  display: inline-block;
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
}
.nav-list a {
  color: #fafafa;
}

/* メインビジュアル */
.mv {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  text-align: center;
}
.mv-title {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}
.mv-text {
  font-size: 20px;
  color: #fafafa;
  padding-top: 10px;
}

/* Portfolio */
.portfolio {
  background-color: #eceff1;
}
.pf-box {
  width: 920px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.pf-img-box {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
.pf-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.pf-img:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-bottom: 10px;
}
.pf-img:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px 10px 10px;
}
.pf-img:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}
.pf-img:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.pf-img:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 0 10px;
}
.pf-img:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* Feature */
.f-box {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.strength-box {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.strength {
  width: 320px;
}
.strength:nth-child(2) {
  margin: 0 10px;
}
.strength-head {
  text-align: center;
}
.strength-icon {
  width: auto;
  font-size: 60px;
  display: inline-block;
}
.strength h3 {
  margin: 10px 0;
}

/* Profile */
.profile {
  background-color: #eceff1;
}
.profile-box {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.profile-content {
  width: 1024px;
  display: flex;
  justify-content: center;
}
.left-content {
  width: 512px;
}
.right-content {
  width: 512px;
}
.icon {
  background-image: url(img/my-icon.jpg);
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
}
.right-content-item h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.right-content-item:nth-child(2) {
  padding-top: 20px;
}

/* Contact */
.contact-box {
  width: 800px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.contact-content {
  display: flex;
  justify-content: center;
}
.co-left-content,
.co-right-content {
  width: 400px;
  display: flex;
  justify-content: center;
}
.co-left-content h3,
.co-right-content h3 {
  margin-bottom: 5px;
}
.co-right-content > div > .fa {
  font-size: 50px;
}
.fa-twitter {
  margin: 0 20px;
}
